.view-all {
    flex-shrink: 0;
    gap: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(41, 41, 41, 1);
    font-size: 20px;
    line-height: normal;
}
